@use "../../../index.scss";
#landing-page{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#landing-page h1{
    color : index.$main-blue;
    font-family: index.$header-font;
    font-weight: 700;
}

#landing-page .landing_header_emphasis{
    color : index.$main-green;
}